# Ignore docker files
.dockerignore
Dockerfile*
docker-compose*

# Ignore .git
/.git
.gitignore

# Ignore deploy
/deploy

# Ignore bundler config.
/.bundle
vendor/bundle

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials.yml.enc

# Ignore local configs
**/*.local
**/*.local.yml

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore Rubocop files
.rubocop-*

# Ignore coverage reports
/coverage/*

# Ignore editor specific configs
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.generators
.rakeTasks

# System Files
.DS_Store
Thumbs.db
